body{
    font-family: 'Roboto', sans-serif;
}
.half-width{
    display: flex;
}
.col-md-6{
    width: 50%;
   margin: 10px 50px 0px 150px;
}
#font-h2{
    font-size: 2em;
    font-weight: 800;
    padding-top: 0%;
    border-left: 4px solid orangered;
    
}
#mission{
    text-align: justify;
    color:orange;

}
.col-md-6 img{
    width: 400px;
}
#btn{
    background-image: linear-gradient(orange, orangered);
    
    color: white;
    text-decoration: none;
    text-align: center;
    padding:5px 10px 5px 10px;
}
.heading{
    text-align: center;
    font-weight: 800;
    font-size: 2em;
    
}
#year{
    color: orange;
}


.illustrator-1{
    width: 280px;
    height: 320px;
    padding: 5px 40px 7px 20px;
    margin: 30px 0px 50px 150px;
    border: 10px 10px 10px 10px ; 
    border-radius: 15px;
    background-color:aquamarine;
}
.illustrator-1 img{
    width: 60%;
}
.illustrator-2{
    width: 280px;
    height: 320px;
    padding: 5px 40px 7px 20px;
    margin: 30px 0px 50px 20px;
    border: 10px 10px 10px 10px ; 
    border-radius: 15px;
    background-color:burlywood;
}
.illustrator-2 img{
    width: 60%;
}
.illustrator-3{
    width: 280px;
    height: 320px;
    padding: 5px 40px 7px 20px;
    margin: 30px 0px 50px 20px;
    border: 10px 10px 10px 10px ; 
    border-radius: 15px;
    background-color:rgb(206, 141, 120);
}
.illustrator-3 img{
    width: 60%;
}

.col-md-4 img{
    width: 100px;
}
.top-bg{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
}
.coding{
    width: 300px;
    margin: 30px 0px 0px 150px;
    margin-right: 30px;
}
.coding img{
    width: 300px;
}
.coding-text{
    width: 600px;
    margin: 30px 0px 0px 80px;
}
.down-bg{
    background-image: url(images/shapes/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    
}
.comunity{
    width: 300px;
    margin: 80px 0px 0px 150px;
    margin-right: 30px;
}
.comunity img{
    width: 300px;
}
.comunity-text{
    width: 600px;
    margin: 80px 0px 50px 150px;
}
#work{
color: orange;
}


.project1{
    width: 230px;
    height: 230px;
    padding: 5px 20px 7px 20px;
    margin: 30px 0px 50px 250px;
}
.project1 img{
    width:100%;
    
}
.project2{
    width: 230px;
    height: 230px;
    padding: 5px 20px 7px 20px;
    margin: 30px 0px 50px 30px;
}
.project2 img{
    width:100%;
   
}
.project3{
    width: 230px;
    height: 230px;
    padding: 5px 20px 7px 20px;
    margin: 30px 0px 50px 30px;
}
.project3 img{
    width:100%;
    
}
#project-btn{
    background-image: linear-gradient(orange,orangered);
  
    color: white;
    text-decoration: none;
    text-align: center;
    padding:5px 10px 5px 10px;
}
#project-btn:hover{
   color: greenyellow;
}
footer{
    background-color: black;
    width: 100%;
    height: 100px;
    padding-bottom: 20px;
    
}
.italic{
    font-style: italic;
    color: white;
    text-align: center;
    padding-top: 20px;
    
  
}
#footer-text{
    color:orangered;
}

